.register {
  height: calc(100vh - 50px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(
      rgba(123, 116, 116, 0.3),
      rgba(152, 146, 146, 0.3)
    ),
    url("../../assets/images/blog02.jpg");
  background-size: cover;
  background-position: center;
}

.registerTitle {
  font-size: 40px;
  color: white;
}

.registerForm {
  padding: 10px;
  border-radius: 10px;
  background-color: gainsboro;
  width: 40%;
  display: flex;
  flex-direction: column;
}
.error {
  color: rgb(255, 0, 0);
  margin: 0 auto;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding-bottom: 5px;
}
.registerForm > label {
  margin: 10px 0;
  font-size: 24px;
}

.registerInput {
  padding: 15px;
  background-color: white;
  border: none;
  border-radius: 10px;
}

.registerInput:focus {
  outline: none;
}

.registerButton {
  margin-top: 20px;
  cursor: pointer;
  background-color: teal;
  color: white;
  padding: 10px;
  font-size: 30px;
  border: none;
  border-radius: 10px;
  text-align: center;
}

.registerLoginButton {
  position: absolute;
  top: 60px;
  right: 20px;
  font-size: 35px;
  background-color: lightcoral;
  cursor: pointer;
  padding: 10px;
  border: none;
  color: white;
  border-radius: 10px;
}
