.header {
  margin-top: 20px;
}
.headerTitles {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Lora", serif;
  color: #444;
}
.Titles {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  font-size: 25px;
  color: black;
}

.headerTitlesm {
  font-size: 25px;
}
.headerTitleLg {
  position: absolute;
  top: 20%;
  font-size: 100px;
}

.headerImg {
  width: 100%;
  height: 70vh;
  margin-top: 10px;
  object-fit: cover;
}
@media screen and (max-width: 1160px) {
  .headerTitleLg {
    font-size: 80px;
  }
}
@media screen and (max-width: 950px) {
  .headerTitleLg {
    display: none;
  }
}
